<!DOCTYPE html>
<html>
<head>
  <title>Eventipus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<% if session[:user_id] %>
  <a href="/users/<%= session[:user_id] %>/edit" >Edit My Profile</a>
  <a href="/users/logout" >Logout</a>

<% end %>

<%= yield %>

</body>
</html>
